<% if @students%>
<label for="name"> Name:</label>
<input id="name" type="text" name="students[name]" value= "<%= @students.name%>" />

<label for="released_on"> Birthday(mm/dd/yyyy): </label>
<input id="released_on" type="text" name="students[birthday]" value="<%= @students.birthday.strftime('%m/%d/%Y') if @students.birthday%>"/>

<label for="score"> Score:</label>
<input id='score' type="number" name="students[score]" value="<%= @students.score %>"/>

<label for="Grade"> Grade: </label>
<input id ="lyrics" name="students[grade]" value="<%= @students.grade%>"/>


<input type="submit" value="Save Student"/>
<% else %>
<p>This student does not exist!</p>
<% end %>